{% extends "index.html" %}

{% block content %}
<h1>randnom</h1>
<div id="loading"><img src="pizza.gif"/>LOADING</div>
<form action="/" method="post">
<div id="locationInput">
  <label htmlFor="userLocation">Location</label>
    <input type="text" id="userLocation" name="userLocation" placeholder="Enter an address, city, or zip" />
</div>
  <div class="buttonGroup">
    <button id="button">I'm feeling hungry</button>
    <div id="rect"></div>
    <div id="oval"></div>
  </div>
</form>

  <script src="/script.js"></script>
  <script>getGeolocation();</script>
{% endblock %}
