body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background-image: url('food.png');
  padding: 3px;
}

a {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: #cc5641;
  border-bottom: 1px solid;
}

#locationInput {
  display: block;
}

label {
  display: block;
  font-size: 12px;
  color: #666;
  padding-left: 20px;
}

input {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #AAA;
  font-size: 18px;
  font-family: 'Raleway';
  margin: 5px;
}

#button {
  width: 300px;
  height: 150px;
  border-radius: 50%;
  border: 0px;
  background-color: tomato;
  font-family: 'Raleway';
  font-size: 23px;
  color: #DDD;
}

#button:hover, #button:active, #button:focus {
  transform: translateY(12px);
}

#button:focus {
  outline: none;
}

#oval {
  z-index: -2;
  position: relative;
  top: -144px;
  width: 300px;
  height: 150px;
  border-radius: 50%;
  border: 0px;
  background-color: #cc5641;
}

#rect {
  z-index: -2;
  position: relative;
  top: -68px;
  width: 300px;
  height: 68px;
  background-color: #cc5641;
}

.container, .buttonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonGroup {
  padding-top: 30px;
}

.foodImg {
  width: 25%;
  border-radius: 2%;
  border: 10px solid #fff;
  margin: 30px;
}

@media (max-width: 900px) {
  .foodImg {
    width: 75%;
  }
}
